<div class="jumbotron text-center ">
  <h1>Configurações - Altera suas preferências</h1>
  <p>Igreja Evangélica Congregacional em Angola - IECA</p> 
  <p>Congregação de Caná</p>
  <%= @bcrypt %>
</div>

<div class="main container">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#home">Configurações de Acesso</a></li>
      <% if current_usuario.nivel.to_s == "catequista" %>
        <li><a data-toggle="tab" href="#menu1">Usuários</a></li>
      <% end %>
      
    </ul>    
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
        <p>Altera a sua senha e/ou endereço de email</p>
        <%= render 'mudar', usuario: @usuario %>
        </div>
        <% if current_usuario.nivel.to_s == "catequista" %>
          <div id="menu1" class="tab-pane fade">
            <p>Adicione novos usuários, tesoureiros, secretários ou catequistas.</p>
            <%= render 'adicionar', usuario: @novo %>          
          </div>
        <% end %>
        
    </div>  
</div>



